table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 20px;
  width:100%;
}

td, th {
  padding: 15px;
  text-align:center;
}

.popover .arrow {visibility:hidden;}

a {
  width:100%;
}

.tabla-title-text {
  padding:6px;
  text-align:center;
  font-size:1.4em;
}

.tabla-cod {
  width:135px;
}

.chk-formato-label {
  font-size: 0.9em;
}

.checkbox, .pointer {
  cursor:pointer;
  padding:4px;
}

input[type=text] {
  border: 1px solid;
  border-radius: 4px;
}

input[type='number'] {
  width:50px;
  text-align:center;
}

.rd {
  cursor:pointer;
}

.checkbox, .rd {
  transform: scale(1.15);
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.borderimg { 
  border: 10px solid transparent;
  -webkit-border-image: url(border.png) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(border.png) 30 stretch; /* Opera 11-12.1 */
  border-image: url(border.png) 30 stretch;
}

body {
  background-color: darkseagreen;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: lightgreen; 
 }


 #carrito-card {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  width: 42rem;
  display:none;
  padding:5%;
  padding-top:7%;
  padding-left:7%;
  position:relative;
  left:-185px;
 }

.chk-formato-label {
  width:300px;
}

input.error-highlight, textarea.error-highlight {
  border: #FF0000 1px solid;
}

.label-modelo {
  font-weight:bold;
  font-size: 1.2em;
}
.text-explain {
  font-size: 1.2em;
  padding: 8px;
}

.btn-explain {
  width:60px;
}

.foto-maceta {
  border-radius: 5px;
  cursor: url('../images/search-icon.png'), pointer;
  transition: 0.3s;
}

.foto-maceta:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 1.4em;
  position: relative;
  right: 30px;
}

/* Add Animation */
.modal-content, .caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
span.close {
  position: relative;
  top: -50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 5em;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


div.sticky {
  position: fixed;
  top: 120px;
}

.page-carrito-on {
  color: black;
}

.page-carrito-off {
  cursor:pointer;
}

#carrito-pages {
  text-align:right;
  display:none;
}

tr {
  height: 60px;
}